* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #BFD7E4;
}

.form-container {
  width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  color: #FFFFFF;
  text-align: center; 
}

.header_conteiner{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 465px;
  background: #293241;
  margin: 0 auto;
}

.header_conteiner .header-title {
  font-family: 'Staatliches', sans-serif;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  margin-top: 107px;
}

.header_conteiner img {
  margin: 24px 0 32px;
}
  
.form-title {
  width: 750px;
  height: 133px;

  color: #FFFFFF;
  font-family: 'Staatliches', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;

  background: #F67669;

  text-align: center;
  padding: 50px;

  border-radius: 8px 8px 0 0;
}

form {
  background: #FFFFFF;
  width: 750px;
  padding: 0 64px;
  border-radius: 0 0 8px 8px;
  margin-bottom: 200px;
}

fieldset {
  border: none;
  margin-top: 32px;
}

legend {
  color: #253B51;
  text-align: center;
  font-family: 'Staatliches', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 10px;
  width: 100%;
}

label {
  font-size: 14px;
  line-height: 24px;
  color: #4E4958;
}

label span {
  font-size: 12px;
  line-height: 20px;
  color: #C1BCCC;
  margin-left: 9px;
}

.column-2 {
  display: flex;
  flex-direction: row;
  gap: 22px;
  justify-content: space-between;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
  width: 100%;
}

.input-wrapper input, .input-wrapper select, .input-wrapper textarea{
  width: 100%;
  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  height: 56px;

  padding: 0 24px;

}

.input-wrapper textarea {
  height: 167px;
  resize: none;
  padding: 24px;
}

.checkbox-wrapper  {
  display: flex;
  gap: 8px;
  margin: 30px 0 36px;
}

.column-3 {
  display: flex;
  gap: 20px;
}

.column-3 > div:nth-child(1) {
  width: 100%;
}

button {
  width: 100%;
  height: 51px;
  margin: 64px 0;
  background: #F67669;
  text-align: center;
  border-radius: 8px;
  border: none;
  font-family: Staatliches;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  cursor: pointer;
}